.collection {

  background-color: #eee;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top:20px;
  padding-bottom: 20px;

  &__title {
    font-weight: bold;
    text-align: center;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  &__item {
    margin: 15px;
  }
}
